/* This sets the gloal scroll behavior propery to smooth which allows the nav links to scroll to different parts of the page. */
* {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    max-width: 100%;
    background-color: rgba(0, 0, 255, 0.384);
    background-image: url(/images/wall4.png);
    background-blend-mode: overlay;
    margin: 0px;
}

/* Navbar */

/* container for nav menu itmes */
.nav {
    width: 30%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    color: rgb(173, 190, 94);
    right: 30px;
    overflow-y: hidden;
    
}


/* nav options spacing and styling */
li {
    display: inline-block;
    padding: 20px;
    border: 2px solid white; 
    color: rgb(243, 214, 171);
    font-size: 15px;
    background-color: rgba(0, 0, 255, 0.151);
    overflow: hidden;
}

li:hover {
    font-size: 150%;
    transition-duration: 1s;
}

/* Grid styling for the Page Layout */
.bigContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 54vw 54vw 54vw 54vw;
    grid-template-areas: 
    "nav1"
    "box2"
    "box3"
    "box4";
}

/* code for first container */
.container1 {
    grid-area: "nav1";
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: overlay;
    background-color: rgba(43, 43, 102, 0.274);
    background-image: url(/images/Atlanta.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat; 
    color: rgba(255, 255, 255, 0.555);
}

/* Styling for the text box in the first parallax */
.textbox {
    width: 50%;
    height: 50%;
    border: 1px solid rgba(255, 255, 255, 0.616);
    background-color: rgba(19, 19, 16, 0.575);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    
}

/* code for first parallax */

.laxOne{
    background-image: url(/images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    overflow-y: hidden;

}

.laxTwo {
    padding: 100%;
} 
/* styling for the second container */
.container2 {
    grid-area: "box2";
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "champ1 final2";
    
}
/* Styling for the samurai champloo side of the projects container */
.champlooBox{
    grid-area: "champ1";
    border: 2px solid black; 
    background-image: url(/images/champloo.png);
    background-attachment: fixed;
    background-size: 50%;
    background-position: left;
    background-repeat: no-repeat;
    
    
}
/* Styling for the real talk side of the projects container */
.realTalkBox{
    grid-area: "final2";
    background-image: url(/images/logo\ copy.png);
    background-attachment: fixed;
    background-size: 50%;
    background-position: right;
    background-repeat: no-repeat;

}

/* styling for the third container */
.container3 {
    grid-area: "box3";
    background-image: url(/images/Sphere-Grid-Large.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center; 
    
}

/* styling for the third container */
.container4 {
    grid-area: "box4";
}
/* Styling for my skills table */
table th, td {
    border: 5px solid black;
    width: 10%;
    text-align: left;
    padding: 70px;
    background-color: rgba(245, 245, 220, 0.438)

}

/* logos inside of the skills table in the skills section */
#protools {
    background-image: url(/images/pro-tools-icon-png.png);
    background-color: rgba(146, 121, 11, 0.377);
    background-blend-mode: color-dodge;
    background-position-x: left;
    background-size: 40%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#flstudio {
    background-image: url(/images/FLStudio20_MasterIcon.png);
    background-color: rgba(146, 121, 11, 0.377);
    background-blend-mode: color-dodge;
    background-position-x: center;
    background-size: 40%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#finalcut {
    background-image: url(/images/kisspng-final-cut-pro-x-computer-icons-apple-cut-5abc5e86daa3d9.9193591315222944068956.jpg);
    background-color: rgba(146, 121, 11, 0.377);
    background-blend-mode: color-dodge;
    background-position-x: right;
    background-size: 40%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}